<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Node</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class="bg-image">
    <!-- thsi form section takes the post request to send to server -->
    <form class="form-input" action="/" method="POST">
    <h1 class = "label"> City Temperature </h1>
    <input type="text" class="input"name="cityName" placeholder="CITY NAME">
    <button class="form-act" type="submit"> Go </button>
    </form>
  
    <div class="data">
        <h1>The Temperature in <%= city %> is </h1>
        <h1 class="degree"> <%= degree %> </h1>
        <h2>  Degree celcius and its describe as </h2>
        <h2 class="des"> <%= description %></h2>
        <img src="<%= icon %>" alt="icon" class="image">   
        <!-- <img src="images/fog.jpg" alt="">  -->
    </div>
</div>
<!-- <script>
    let windowa = window.addEventListener('load', (event) => {
    event.preventDefault();    
    document.querySelector(".data").style.display = "none"
    });
     let button = document.querySelector(".form-act").addEventListener("click", function (event) {
        // let dataLoader = document.querySelector(".data")
        // dataloader.
      
        document.querySelector(".data").style.display = "block"
    })
</script> -->
</body>

</html>